.outer {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 20%));
    gap: 2rem;
    justify-content: center;
}

@media (orientation:portrait) {
    .outer {
        grid-template-columns: repeat(auto-fit, minmax(45%, 45%));
        column-gap:3rem;
        row-gap: 4rem;
    }
}