*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  background-image: url("https://wallpapercave.com/wp/wp5407373.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0;
  padding: 0;
}
